<ng-container class="emerse-main">
    <mat-tab-group>
        <mat-tab label="Single Import">
            <emerse-single-import></emerse-single-import>
        </mat-tab>
        <mat-tab label="Batch Import">
            <emerse-batch-import></emerse-batch-import>
        </mat-tab>
        <mat-tab label="Queue Manager">
            <emerse-queue-manager></emerse-queue-manager>
        </mat-tab>
        <mat-tab label="Index Manager">
            <emerse-index-manager></emerse-index-manager>
        </mat-tab>
        <mat-tab label="About">
            <emerse-about></emerse-about>
        </mat-tab>
    </mat-tab-group>
</ng-container>
