<div class="emerse-queue-manager">
    <span>
        <table mat-table class="table-striped"
               [dataSource]="dataSource"
               [trackBy]="trackBy">
           <ng-container matColumnDef="submitted">
            <th mat-header-cell class="emerse-queue-manager-submitted" *matHeaderCellDef>Submitted</th>
            <td mat-cell class="emerse-queue-manager-submitted" *matCellDef="let item"> {{item.submitted_date?.toLocaleString()}} </td>
            <td mat-footer-cell [attr.colspan]="columns.length" *matFooterCellDef>{{message}}</td>
          </ng-container>
           <ng-container matColumnDef="completed">
            <th mat-header-cell class="emerse-queue-manager-completed" *matHeaderCellDef>Completed</th>
            <td mat-cell class="emerse-queue-manager-completed" *matCellDef="let item"> {{item.completed_date?.toLocaleString()}} </td>
          </ng-container>
           <ng-container matColumnDef="elapsed">
            <th mat-header-cell class="emerse-queue-manager-elapsed" *matHeaderCellDef>Elapsed</th>
            <td mat-cell class="emerse-queue-manager-elapsed" *matCellDef="let item"> {{item.elapsed_text}} </td>
          </ng-container>
           <ng-container matColumnDef="total">
            <th mat-header-cell class="emerse-queue-manager-total" *matHeaderCellDef>Total</th>
            <td mat-cell class="emerse-queue-manager-total" *matCellDef="let item"> {{item.total}} </td>
          </ng-container>
           <ng-container matColumnDef="processed">
            <th mat-header-cell class="emerse-queue-manager-processed" *matHeaderCellDef>Processed</th>
            <td mat-cell class="emerse-queue-manager-processed" *matCellDef="let item"> {{item.processed}} </td>
          </ng-container>
           <ng-container matColumnDef="status">
            <th mat-header-cell class="emerse-queue-manager-status" *matHeaderCellDef>Status</th>
            <td mat-cell class="emerse-queue-manager-status" *matCellDef="let item"> {{item.status_text}} </td>
          </ng-container>
           <ng-container matColumnDef="identifier_type">
            <th mat-header-cell class="emerse-queue-manager-identifier_type" *matHeaderCellDef>IdType</th>
            <td mat-cell class="emerse-queue-manager-identifier_type" *matCellDef="let item"> {{item.identifier_type}} </td>
          </ng-container>
           <ng-container matColumnDef="error_text">
            <th mat-header-cell class="emerse-queue-manager-error_text" *matHeaderCellDef>Error</th>
            <td mat-cell class="emerse-queue-manager-error_text" *matCellDef="let item"> {{item.error_text}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
          <tr mat-row
              *matRowDef="let row; columns: columns"
              (click)="setSelection(row)"
              [ngClass]="{hovered: row.hovered, highlighted: selected === row}"
              (mouseover)="row.hovered = true"
              (mouseout)="row.hovered = false"></tr>
           <tr mat-footer-row *matFooterRowDef="message ? [columns[0]] : []"></tr>
        </table>
    </span>
    <mat-toolbar>
        <span class="border-right">
            <mat-paginator class="d-inline-block" #paginator></mat-paginator>
        </span>
        <span class="emerse-queue-manager-filters">
            <button mat-icon-button (click)="clearFilters()">
                <mat-icon ngbTooltip="Clear all filters">clear</mat-icon>
            </button>
            <span></span>
            <mat-checkbox *ngFor="let status of STATUS_TEXT; let i = index"
                          (change)="updateFilter(i, $event.checked)"
                          [checked]="hasFilter(i)">
                {{status}}
            </mat-checkbox>
        </span>
        <span class="text-right border-left">
            <button *ngIf="supported(EntryAction.DELETE)"
                    class="text-danger"
                    mat-button
                    tabindex="-1"
                    (click)="action(EntryAction.DELETE, 'delete')">
                Delete
            </button>
            <button *ngIf="supported(EntryAction.ABORT)"
                    class="text-danger"
                    mat-button
                    tabindex="-1"
                    (click)="action(EntryAction.ABORT, 'abort')">
                Abort
            </button>
            <button *ngIf="supported(EntryAction.RESUME)"
                    class="text-success"
                    mat-button
                    tabindex="-1"
                    (click)="action(EntryAction.RESUME, 'resume')">
                Resume
            </button>
            <button *ngIf="supported(EntryAction.RESTART)"
                    class="text-success"
                    mat-button
                    tabindex="-1"
                    (click)="action(EntryAction.RESTART, 'restart')">
                Restart
            </button>
            <button *ngIf="supported(EntryAction.SUSPEND)"
                    class="text-warning"
                    mat-button
                    tabindex="-1"
                    (click)="action(EntryAction.SUSPEND, 'suspend')">
                Suspend
            </button>
            <emerse-refresh
                    [busy]="busy"
                    (onRefresh)="refresh()">
            </emerse-refresh>
        </span>
   </mat-toolbar>
</div>
