<ng-container class="emerse-login">
    <div class="emerse-login-credentials">
        <div>
            <span class="emerse-login-spacing"></span>
            <h4>Please Login</h4>
        </div>
        <div>
            <span class="emerse-login-spacing">Username:</span>
            <input #usernameInput type="text"
                    [(ngModel)]="username"
                    [disabled]="busy"
                    (keyup.enter)="focus(passwordInput)">
        </div>
        <div>
            <span class="emerse-login-spacing">Password:</span>
            <input #passwordInput type="password"
                    [(ngModel)]="password"
                    [disabled]="busy"
                    (keyup.enter)="submit.disabled ? null : login()">
        </div>
        <div>
            <span class="emerse-login-spacing"></span>
            <button #submit mat-raised-button color="accent"
                    [disabled]="!username || !password || busy"
                    (click)="login()">
                Login
            </button>
        </div>
        <div>
            <span class="emerse-login-spacing"></span>
            <span class="text-danger">{{message}}</span>
        </div>
    </div>
</ng-container>
