.emerse-home {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.emerse-home-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid gray;
    padding-left: 10px;
    background-color: lightgray;
}

.emerse-home-logo1 {
    max-height: 75px;
}

.emerse-home-logo2 {
    max-height: 40px;
    margin-top: 2px;
    margin-right: 10px;
}

.emerse-home-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.emerse-home-panel > *:first-child {
    flex: 1;
}

.emerse-home-timeout {
    background-color: red!important;
    font-size: 1em;
    max-width: 100%!important;
}

/* Global styles */

body {
    min-width: 700px;
    height: 100%;
}

input[type=text]::-ms-clear {
    display: none;
}

.popover {
    max-width: 100%;
}

* {
    font-size: 13px;
}

button {
    min-height: 30px !important;
    padding: 0 4px 0 4px !important;
}

.mat-button-wrapper {
    display: block;
    overflow: hidden;
    white-space: pre-wrap;
    word-break: break-word;
    line-height: 1.5;
}

.mat-dialog-title {
    margin: 0;
    padding: 0 5px 0 5px;
    background: lightgray;
    outline: 1px solid gray;
}

div.mat-tab-label {
    height: 25px;
}

.mat-tab-label {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid darkgray;
    border-bottom: none;
    margin-top: 1px;
    padding-top: 3px!important;
}

.mat-tab-label.mat-tab-label-active {
    opacity: 1;
}

.mat-checkbox-label {
    padding-top: 2px;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-accent .mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-indeterminate,
.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-indeterminate {
    background-color: transparent !important;
}

.mat-checkbox-checkmark-path {
    stroke:black !important
}

.cdk-drag-handle {
    cursor: move;
}
