<ng-container class="emerse-import">
    <mat-tab-group>
        <mat-tab label="Single Import">
            <emerse-import-single></emerse-import-single>
        </mat-tab>
        <mat-tab label="Batch Import">
            <emerse-import-batch></emerse-import-batch>
        </mat-tab>
        <mat-tab label="Import Manager">
            <emerse-import-manager></emerse-import-manager>
        </mat-tab>
        <mat-tab label="About">
            <emerse-import-about></emerse-import-about>
        </mat-tab>
    </mat-tab-group>
</ng-container>
