.emerse-import-batch {
    padding: 20px;
}

.emerse-import-batch input,
.emerse-import-batch button {
    margin-left: 15px
}

.emerse-import-batch mat-radio-group {
    display: inline-flex;
    flex-direction: column;
    padding: 5px;
}

.emerse-import-batch legend {
    width: auto;
    font-size: .9rem;
}

.emerse-import-batch fieldset {
    display: inline;
    border: 1px solid lightgray;
    padding: 5px;
}
