<div class="emerse-import-manager">
    <span>
        <table mat-table [dataSource]="dataSource">
            <mat-text-column name="submitted" headerText="Submitted"></mat-text-column>
            <mat-text-column name="completed" headerText="Completed"></mat-text-column>
            <mat-text-column name="total" headerText="Total"></mat-text-column>
            <mat-text-column name="processed" headerText="Processed"></mat-text-column>
            <mat-text-column name="error_text" headerText="Error"></mat-text-column>
            <mat-text-column name="processing_flag" headerText="Processing"></mat-text-column>
            <mat-text-column name="identifier_type" headerText="IdType"></mat-text-column>

            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns"></tr>
        </table>
    </span>
    <mat-paginator></mat-paginator>
</div>
