<div class="emerse-single-import">
    <div class="emerse-single-import-search">
        <input type="text" [(ngModel)]="mrn" autofocus
               placeholder="Enter a patient's MRN"
               [disabled]="busy"
               (keyup.enter)="srch.disabled ? null : search()">
        <button mat-raised-button color="accent" #srch
                [disabled]="!mrn || busy"
                (click)="search()">Search</button>
        <button mat-raised-button color="warn"
                [disabled]="!demographics || busy"
                (click)="clear()">Clear</button>
        <button mat-raised-button color="primary"
                [disabled]="!demographics || busy"
                (click)="index()">Index</button>
        <span class="text-danger">{{message}}</span>
    </div>
    <div class="emerse-single-import-demographics">
        <span *ngIf="!demographics">
            <span>Search for a patient to index.</span>
        </span>
        <span *ngIf="demographics">
            <span>{{demographics.name}}</span>
            <span>{{demographics.mrn ? '#' + demographics.mrn : null}}</span>
            <span>{{demographics.dob}}</span>
            <span>{{demographics.gender}}</span>
        </span>
    </div>
    <div class="emerse-single-import-documents">
        <as-split direction="horizontal">
            <as-split-area>
                <mat-action-list>
                    <button mat-list-item *ngFor="let document of documents"
                        (click)="documentSelected($event, document)">
                        <div class="emerse-single-import-document">
                            <span>{{document.dateStr}}</span>
                            <span>{{document.title}}</span>
                        </div>
                        <mat-divider></mat-divider>
                    </button>
                </mat-action-list>
            </as-split-area>
            <as-split-area>
                <div *ngIf="htmlBody" [innerHTML]="htmlBody">
                </div>
                <div *ngIf="!htmlBody" [textContent]="textBody">
                </div>
            </as-split-area>
        </as-split>
    </div>
</div>
