.emerse-single-import {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.emerse-single-import-documents {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.emerse-single-import-documents > * {
    flex: 1;
    border-top: 1px solid gray;
}

.emerse-single-import-documents > * {
    max-height: 100%;
    overflow: auto;
}

.emerse-single-import-documents button[selected] {
    background: lightblue!important;
}

.emerse-single-import-documents > as-split > as-split-area {
    position: relative;
}

.emerse-single-import-documents > as-split > as-split-area:last-child {
    margin: 5px;
}

.emerse-single-import-documents > as-split > as-split-area > * {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0
}


.emerse-single-import-document {
    display: flex;
    flex-direction: row;
}

.emerse-single-import-document > *:first-child {
    width: 11em;
}

.emerse-single-import-document > *:last-child {
    flex: 1;
}

.emerse-single-import-demographics {
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: lightyellow;
    padding: 5px;
    border-top: 1px solid gray;
}

.emerse-single-import-demographics > span > span {
    padding-left: 10px;
}

.emerse-single-import-demographics > span > span:first-child {
    font-weight: bold;
}

.emerse-single-import-search {
    display: flex;
    align-items: center;
    padding: 5px;
}

.emerse-single-import-search > * {
    margin-right: 10px;
}

