<div class="emerse-import-about">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{get("app.name")}}</th>
                <th>{{get("app.description")}}</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>Author</td>
            <td>{{get("app.author")}}</td>
        </tr>
        <tr>
            <td>Copyright</td>
            <td>&copy;{{get("app.copyright")}}</td>
        </tr>
        <tr>
            <td>Website</td>
            <td><a target="emerse" href="{{get('app.url')}}">{{get("app.url")}}</a></td>
        </tr>
        <tr>
            <td>Contact</td>
            <td><a href="mailto:{{get('app.email')}}">{{get('app.email')}}</a></td>
        </tr>
        <tr>
            <td>Server identifier</td>
            <td>{{get("server.uuid")}}</td>
        </tr>
        <tr>
            <td>Server version</td>
            <td>EMERSE-IT Server {{get("server.version")}}</td>
        </tr>
        <tr>
            <td>Client version</td>
            <td>EMERSE-IT Client {{get("client.version")}}</td>
        </tr>
        <tr>
            <td>Solr version</td>
            <td>{{get("solr.version")}}</td>
        </tr>
        <tr>
            <td>Database version</td>
            <td>{{get("database.version")}}</td>
        </tr>
        <tr>
            <td>Indexing threads</td>
            <td>{{get("solr.server.daemons")}}</td>
        </tr>
        </tbody>
    </table>
</div>
