<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Properties>
        <Property name="log-path">${java.io.tmpdir}/log/</Property>
        <Property name="pattern-layout">%d{yyyy/MM/dd HH:mm:ss} %-5level %logger{36} - %msg%n%n</Property>
    </Properties>

    <Appenders>
        <RollingFile name="emerse-it"
                     filePattern="logs/emerse-it-%d{yyyy-MM-dd}.log"
                     fileName="logs/emerse-it.log">
            <PatternLayout pattern="${pattern-layout}" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
        </RollingFile>
        <Console name="stdout">
            <PatternLayout pattern="${pattern-layout}" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="edu.utah.kmm.logger.MainController" level="debug" additivity="false">
            <AppenderRef ref="emerse-it"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="stdout"/>
        </Root>
    </Loggers>
</Configuration>
